<h2>GAMES</h2>
<br>
<mat-card  class="card1">
    <mat-card-header>
      <mat-card-title>JACKPOT CONTEST</mat-card-title>
      <mat-card-subtitle>win upto 1 lakh with joining price of 30</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-flat-button color="primary">Join</button>
      <button mat-raised-button>Details</button>
    </mat-card-actions>
  </mat-card>
 <br>
  <mat-card class="card2">
    <mat-card-header>
      <mat-card-title>MEGA CONTEST</mat-card-title>
      <mat-card-subtitle>win upto 40k with joining price of 100</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button-toggle>Join</button>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card  class="card3">
    <mat-card-header>
      <mat-card-title>PRO CONTEST</mat-card-title>
      <mat-card-subtitle>win upto 10k with joining price of 100</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions >
      <div>
        <button class="button3-1" mat-button>Join</button>
        <button class="button3-2" mat-button>Details</button>
      </div>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card  class="card4">
    <mat-card-header>
      <mat-card-title>ROOKIE CONTEST</mat-card-title>
      <mat-card-subtitle>win upto 5k with joining price of 60</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button>Join</button>
      <button mat-button>Details</button>
    </mat-card-actions>
  </mat-card>
