.home-tab{
    text-align: center;
    margin-top: 0;
    background: rgba(100,100,100,.2);
    border-radius: 50px;
    font-size: 1rem;
    width: 92%;
    padding: 4px 0;
}
h1{
    background-color: aquamarine;
    text-align: center;
}