.header1{
    border-radius: 15px 50px; 
    background: #b2d67f ;
    background-position: center;
    padding: 20px;
    width: 88%;
    height: 15px;
    text-align: center;
    font-size: 20px;
  }

.budget{
     border-radius: 25px; 
    background: #b5c26b ;
    background-position: center;
    padding: 20px;
    width: 88%;
    height: 15px;
    text-align: left;
    font-size: large;
}
.stocks{
    background-color: antiquewhite;
}