.header{
    border-radius: 10px;
    background-color: bisque;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
}
.crd1{
    background-image: linear-gradient(to right,rgb(165, 165, 235) , rgb(251, 251, 205));
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.crd2{
    background-image: linear-gradient(to right,rgb(165, 165, 235) , rgb(251, 251, 205));
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.crd3{
    background-image: linear-gradient(to right,rgb(165, 165, 235) , rgb(251, 251, 205));
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}
a{
    text-decoration: none;
}
p{
    text-align: center;
}
